<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="vision, react, webpack" />
        <meta name="description" content="vision UI component using example" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="format-detection" content="telephone=no" /> 
        <title>Button example </title>
    </head>
    <body>
        <div id="app">
        </div>
    </body>
</html>