<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="vision, react, webpack" />
        <meta name="description" content="vision UI component using design" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="format-detection" content="telephone=no" />
        <title>Label design </title>
        <link rel="stylesheet" href="./style/index.css" />
        <link rel="stylesheet" href="./style/Label.css" />
    </head>
    <body>
        <div id="app">
            <h1>优惠标签</h1>
            <p>
                <label class="Label">新年特惠减5元</label>
                <label class="Label">通灵神探9.9元</label>
            </p>
            <p>
                <label class="Label">新年特惠减5元</label>
                <label class="Label Label--primary">可退票</label>
            </p>
            <p>
                <label class="Label">新年特惠减5元</label>
                <label class="Label" disabled>已购票</label>
            </p>
            <p>
                <label class="Label Label--secondary">3D眼镜</label>
                <label class="Label Label--secondary">儿童优惠</label>
                <label class="Label Label--secondary">可停车</label>
                <label class="Label Label--secondary">休息区</label>
            </p>


        </div>
    </body>
</html>
