@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%; }

img {
  border: 0 none;
  vertical-align: middle; }

textarea {
  resize: vertical; }

h1, h2, h3, h4, h5, h6, p, figure, form {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

.red {
  color: #f7665e !important; }

.orangeRed {
  color: #f94 !important; }

.yellow {
  color: #ffc600 !important; }

.gray {
  color: #949494 !important; }

.blue {
  color: #1b97ff !important; }

.black {
  color: #333 !important; }

.green {
  color: #29cc6d !important; }

.main-color {
  color: #29cc6d !important; }

.user-select-text {
  -webkit-user-select: text; }

.user-select-none {
  -webkit-user-select: none; }

img {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-pointer-events: none; }

/* 事件焦点不显示 */
.tap-none {
  -webkit-tap-highlight-color: transparent; }

/* 过长晃示省略号... */
.ell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/* 透明 */
.center {
  text-align: center !important; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.in-b {
  display: inline-block !important; }

.no-border {
  border: none !important; }

.mlr0 {
  margin-left: -15px !important;
  margin-right: -15px !important; }

html, .btn, .btnR, .btnB, .btnG, .btnDisabled, .btn-box {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  min-height: 100%;
  background-color: #fff; }

body {
  color: #666;
  font: 13px Helvetica, STHeiTi, sans-serif;
  -webkit-text-size-adjust: 100% !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

a {
  color: #666;
  text-decoration: none;
  outline: none; }
  a:visited {
    color: inherit; }

i {
  font-style: normal; }

button, input, select, textarea {
  color: #666;
  font: 1.68rem Arial;
  outline: none; }

.mp0 {
  margin: 0 !important;
  padding: 0 !important; }

.mp0-patch {
  margin-left: -10px !important;
  margin-right: -10px !important; }

li.mp0 {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0; }

b, strong {
  color: #666; }

.hr {
  overflow: hidden;
  border: none;
  height: 1px;
  margin: 11px 0;
  background-color: #f0f0f0; }

.full-screen {
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

::-webkit-input-placeholder {
  color: #949494; }

.btn, .btnR, .btnB, .btnG, .btnDisabled {
  display: inline-block;
  outline: none;
  cursor: pointer;
  margin: .5em 0;
  padding: .6em 2em .4em;
  font-size: 1.68rem;
  line-height: 1;
  text-align: center;
  text-decoration: none; }

.btn-box {
  margin: 20px 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  width: 100%; }
  .btn-box [class^="btn"] {
    display: block !important;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    margin: 0 5px;
    width: 50%; }
    .btn-box [class^="btn"]:first-of-type {
      margin-left: 0; }
    .btn-box [class^="btn"]:last-of-type {
      margin-right: 0; }
    .btn-box [class^="btn"]:only-of-type {
      width: 100%; }
  .btn-box.grid1-1 [class^="btn"]:first-of-type:not(:only-of-type),
  .btn-box.grid1-1 [class^="btn"]:nth-of-type(2):not(:only-of-type) {
    width: 50%; }
  .btn-box.block [class*="btn"],
  .btn-box .block[class*="btn"] {
    display: block;
    margin: 1.2em auto;
    width: inherit !important; }

.btn {
  background: #efefef;
  border-radius: 2px;
  color: #666 !important; }
  .btn.blue {
    background: #1b97ff !important;
    color: #fff !important; }

.btnR {
  background: #f7675f;
  border-radius: 2px;
  color: #fff !important; }

.btnB {
  background: #1cb1fe;
  border-radius: 2px;
  color: #fff !important; }

.btnG {
  background: #29cc6d;
  border-radius: 2px;
  color: #fff !important; }

.btnDisabled {
  background: #d7d8dc;
  border-radius: 2px;
  color: #999 !important;
  cursor: default; }

li.arr-r-checkmark:after, .arr-r-checkmark > li:after,
a.arr-r-checkmark:after, .total-info.arr-r:after,
.arr-r-self:after,
.arr-r > a:after,
.arr-r > li:after,
li.arr-r:after,
a.arr-r:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  border: #ddd solid 2px;
  border-left: none;
  border-top: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); }

li.arr-r-checkmark:after, .arr-r-checkmark > li:after,
a.arr-r-checkmark:after, .total-info.arr-r:after,
.arr-r-self:after,
.arr-r > a:after,
.arr-r > li:after,
li.arr-r:after,
a.arr-r:after {
  right: 10px;
  top: 50%;
  margin-top: -3.5px; }

li.arr-r-checkmark:after, .arr-r-checkmark > li:after,
a.arr-r-checkmark:after {
  -webkit-transform: rotate(45deg) !important;
  -moz-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  border-color: #29cc6d;
  width: 7px;
  height: 15px; }

li.arr-r-checkmark:after {
  margin-top: -11px; }

.arr-r,
.arr-r-self,
.arr-r > li,
.arr-r > a,
.arr-r-checkmark,
.arr-r-checkmark > li {
  display: block;
  position: relative; }

.arr-r-checkmark > li:after,
li.arr-r-checkmark:after,
a.arr-r-checkmark:after {
  margin-top: -10px; }

.in-b.arr-r:after {
  left: 100%;
  right: inherit;
  margin-left: 5px; }

.margin-both-nge {
  margin-left: -10px;
  margin-right: -10px; }

.m-table {
  display: table; }

.table-header,
.m-theader {
  display: table-header-group; }

.table-body,
.m-tbody {
  display: table-row-group; }

.table-footer,
.m-tfooter {
  display: table-footer-group; }

.table-row,
.m-tr {
  display: table-row; }

.m-td, .m-th {
  display: table-cell; }

.m-table {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse; }

.m-td, .m-th {
  padding: 5px; }

.m-th {
  font-weight: bold; }

.Button {
  border-radius: 2px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  margin: .5em 0;
  padding: .6em .4em;
  font-size: 1.3rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: #29cc6d;
  border: 1px solid #29cc6d;
  color: #fff; }
  .Button--inverse {
    color: #29cc6d;
    background: transparent; }
  .Button--primary {
    background: #1b97ff;
    border: 1px solid #1b97ff;
    color: #fff; }
  .Button--primary-inverse {
    color: #1b97ff;
    border: 1px solid #1b97ff;
    background: transparent; }
  .Button--secondary {
    background: #f7665e;
    border: 1px solid #f7665e;
    color: #fff; }
  .Button--secondary-inverse {
    color: #f7665e;
    border: 1px solid #f7665e;
    background: transparent; }
  .Button--large {
    display: block;
    width: 100%;
    font-size: 1.68rem; }
  .Button [disabled] {
    opacity: .5; }

/*# sourceMappingURL=Button.css.map */
