<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="vision, react, webpack" />
    <meta name="description" content="vision UI component using design" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>Button design </title>
    <link rel="stylesheet" href="./style/index.css" />
    <link rel="stylesheet" href="./style/Button.css" />
</head>

<body>
    <div id="app">
        <h1>Button组件</h1>
        <h2>实心按钮</h2>
        <button class="Button">购票</button>
        <button class="Button Button--primary">预售</button>
        <button class="Button Button--secondary">抢票</button>
        <h2>空心按钮</h2>
        <button class="Button Button--inverse">购票</button>
        <button class="Button Button--primary-inverse">预售</button>
        <button class="Button Button--secondary-inverse">抢票</button>
        <h2>大按钮</h2>
        <button class="Button Button--large">立即购票</button>
        <div class="btn-box">
            <button class="Button Button--large">查看订单详情</button>
        </div>
        <div class="btn-box">
            <button class="Button Button--disabled Button--disabled-inverse Button--large">取消</button>
        </div>
        <div class="btn-box">
            <button class="Button Button--disabled Button--large">取消</button>
        </div>
    </div>
</body>

</html>
