<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="一个 UI 设计语言"/>
    <title>
Vision UI base.scss  - Vision Design
</title>
    <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    
    <link rel="stylesheet" href="../../dist/demo.css">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/tomorrow.css">
    <!--[if IE 8]>
    <script src="https://t.alipayobjects.com/images/rmsweb/T1q8JiXftaXXXXXXXX.js"></script>
    <![endif]-->
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.1.14/es5-shim.min.js,es5-shim/4.1.14/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
    <script src="https://a.alipayobjects.com/??bluebird/2.9.30/bluebird.js,jquery/jquery/1.11.1/jquery.js"></script>
    <script>
    (function() {
      window.ANT_COMPONENTS = [];
      window.InstantClickChangeFns = [];
      ANT_COMPONENTS.push({
        title: 'Button',
        desc: '按钮'
      });
      ANT_COMPONENTS.push({
        title: 'Label',
        desc: '标签'
      });
      var i = location.pathname.split('/').lastIndexOf('ant-design');
      if (i > 0) {
        window.rootUrl = location.origin + location.pathname.split('/').slice(0, 2+1).join('/');
      } else {
        window.rootUrl = location.origin;
      }
    })();
    </script>
    <script src="../../static/script.js"></script>
    <script>
      window.antdVersion = {
        latest: '0.1.4'
      };
    </script>
    <script src="../../dist/demo.js"></script>
    <script src="https://t.alipayobjects.com/images/T1DrxhXe0mXXXXXXXX.js"></script>
    
  </head>
  <body >
    <header id="header" class="clearfix">
      <!-- <a class="logo" href="../..">
        <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
        Vision Design
      </a>
      <div class="search">
        <div id="autoComplete"></div>
      </div>
      <div class="global-hint">
        0.11 已发布，0.10 文档请访问 <a href="http://010x.ant.design/">010x.ant.design</a>
      </div> -->
      <nav class="nav">
        <span class="bar"></span>
        <ul>
          <li class="">
            <a href="../.." data-no-instant>首页</a>
          </li>
         <!--  <li class="">
            <a href="../../spec/introduce">设计</a>
          </li> -->
          <li class="current">
            <a href="../../docs/introduce">Vision UI</a>
          </li>
          <!-- <li>
            <a target="_blank" href="https://github.com/ant-design/ant-design">Github</a>
          </li> -->
        </ul>
      </nav>
      <div class="nav-phone-icon"></div>
    </header>
    <div class="main-wrapper">
      
<aside class="aside-container">
  <ul>
      <li class="">
        <a href="../../docs/introduce" class="">
          Vision Design of React
          <span class="chinese"></span>
        </a>
      </li>
    <li open="open">
      <h4>Components</h4>
      <ul class="">
          <li class="type-divider">基本</li>
          <li class="">
            <a href="../vu-button/readme"
               class="">
              Button
              <span class="chinese">按钮</span>
            </a>
          </li>
          <li class="">
            <a href="../vu-label/readme"
               class="">
              Label
              <span class="chinese">标签</span>
            </a>
          </li>
      </ul>
    </li>
  </ul>
</aside>
 
<section class="main-container">
  <article class="markdown">
    <h1>
      Vision UI base.scss 
    </h1>
    
  </article>
  <div class="api-container markdown"></div>
</section>

    </div><footer id="footer">
  <!-- <ul>
    <li>
      <h2>GitHub</h2>
      <a target="_blank "href="https://github.com/ingf/vision-design">仓库</a>
      <a target="_blank" href="https://github.com/ant-design/ant-design/tree/master/style">样式</a>
      <a target="_blank" href="https://github.com/ant-tool/xtool">开发工具</a>
    </li>
    <li>
      <h2>关于我们</h2>
      <a href="https://github.com/ant-ued/blog">博客 - Ant UED</a>
    </li>
    <li>
      <h2>联系我们</h2>
      <a target="_blank" href="https://github.com/ingf/vision-design/issues">反馈和建议</a>
      <a target="_blank" href="https://gitter.im/ant-design/ant-design">讨论</a>
      <a target="_blank" href="http://t.cn/R4XEpoQ">报告 Bug</a>
    </li>
    <li>
      <h3>©2015 蚂蚁金服体验技术部出品</h3>
      <h3>文档版本：<span id="versions-select"></span></h3>
    </li>
  </ul> -->
</footer>
    <script src="https://t.alipayobjects.com/images/rmsweb/T1AmXhXg0kXXXXXXXX.js" data-no-instant></script>
    <script data-no-instant>
      InstantClick.on('change', function() {
        InstantClickChangeFns.forEach(function(fn) {
          fn();
        });
      });
      InstantClick.init();
    </script>
  </body>
</html>