<div class="code-box" id="label-demo-basic">
  <div class="code-box-demo">
    <div id="components-vu-label-demo-basic"></div>
    <script>mountNode = document.getElementById('components-vu-label-demo-basic');</script>
    <script>(function(){"use strict";

var _vud = require("vud");

ReactDOM.render(React.createElement(
    "div",
    null,
    React.createElement(
        _vud.Label,
        { type: "primary" },
        "可退票"
    ),
    React.createElement(
        _vud.Label,
        null,
        "新年特惠减5元"
    ),
    React.createElement(
        _vud.Label,
        { type: "secondary" },
        "3D眼镜"
    )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Label } <span class="hljs-keyword">from</span> <span class="hljs-string">'vud'</span>;

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Label</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>可退票<span class="hljs-tag">&lt;/<span class="hljs-title">Label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Label</span>&gt;</span>新年特惠减5元<span class="hljs-tag">&lt;/<span class="hljs-title">Label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Label</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"secondary"</span>&gt;</span>3D眼镜<span class="hljs-tag">&lt;/<span class="hljs-title">Label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>,
mountNode);</span></code></pre></div><style>
#components-button-demo-basic .ant-btn {
  margin-right: 8px;
  margin-bottom: 12px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#label-demo-basic">基础功能演示</a>
    </div>
    <p>基础功能描述。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>